@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  scroll-behavior: smooth;
}

.bg-timeline-gradient {
  background: linear-gradient(180deg, #5a0000 22.17%, #760000 57.98%);
}

.bg-rundown-dekstop {
  background: linear-gradient(135deg, #5a0000 -51.67%, #760000 -44.02%);
}

.bg-rundown-mobile {
  background: linear-gradient(90deg, #5a0000 16%, #760000 74%);
}
